<!DOCTYPE html>
<html>

<head>
    <title>
        Sign-up to be a member
    </title>
    <link rel="stylesheet" href="css/signup.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="split-screen">
        <div class="left">
            <section class="copy">
                <h1>Explore the creativity</h1>
                <p> Over 1000 courses taught by real creatives </p>
            </section>
        </div>
        <%- include('messages.ejs') -%>
            <div class="right">
                <form action="/signup" method="POST">
                    <section class="copy">
                        <h2>Sign Up</h2>
                        <div class="login-container">
                            <p> Already have an Account? <a href="/login">
                                    <strong> Log-In</strong></a>
                            </p>
                        </div>
                    </section>
                    <div class="input-container name">
                        <label for="fname">Name</label>
                        <input type="text" name="name" id="name">
                    </div>

                    <div class="input-container email">
                        <label for="email">Email </label>
                        <input id="email" name="email" type="email">
                    </div>

                    <div class="input-container password">
                        <label for="password">Password</label>
                        <input id="password" name="password" type="password" placeholder="Must be atleast 8 character">
                        <i class="far fa-eye-slash"></i>
                    </div>

                    <div class="input-container cta">
                        <label class="checkbox-container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Sign-up for email updates
                        </label>
                    </div>
                    <button class="signup-btn " type="submit"> Sign-up</button>
                    <section class="copy legal">
                        <p> <span class="small ">By Continuing ,you agree to accept our <br><a href="#">Privacy Policy
                                </a>
                                &amp ; <a href="#"> Terms of Service </a>
                            </span></p>
                    </section>
                </form>
            </div>
    </div>

    <!-- Script to the Bootstap CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>


</head>

</html>